<h1>Welcome to TailwindCSS 2.0 with Rails 6.1.1</h1>
<p>
  "Tailwind CSS is the only framework that I've seen scale
  on large teams. It’s easy to customize, adapts to any design,
  and the build size is tiny."
</p>
